@{
    ViewData["Title"] = "Правила оформления";
}
<h1>@ViewData["Title"]</h1>

<p>Поля</p>
<ul>
    <li>Левое 3 см</li>
    <li>Правое 15 см</li>
    <li>Верхнее и нижнее по 2 см</li>
</ul>

<p>Нумерация страниц</p>
<ul>
    <li>Арабскими цифрами, по центру, внизу страницы</li>
    <li>Титульный лист включают в общую нумерацию страниц отчета</li>
    <li>На титульном листе номер не проставляется</li>
</ul>

<p>Основной текст</p>
<ul>
    <li>Основан на стиле &ndash; обычный</li>
    <li>Шрифт &ndash; Times New Roman</li>
    <li>Размер шрифта &ndash; 14 пт.</li>
    <li>Цвет &ndash; авто или черный</li>
    <li>Отступ красной строки &ndash; 1,25</li>
    <li>Междустрочный интервал &ndash; 1,5</li>
    <li>Выравнивание текста &ndash; по ширине страницы</li>
    <li>автоматический перенос строк, отступы до и после абзаца &ndash; отсутствуют</li>
</ul>

<p>Заголовки основные</p>
<ul>
    <li>Основан на стиле &ndash; Заголовок 1</li>
    <li>Шрифт &ndash; Times New Roman</li>
    <li>Выравнивание текста &ndash; по центру</li>
    <li>Отступ первой строки &ndash; отсутствует</li>
    <li>Отступ перед абзацем &ndash; 24</li>
    <li>Отступ после абзаца &ndash; 0</li>
    <li>Цвет &ndash; авто или черный</li>
    <li>Размер шрифта &ndash; 14 пт.</li>
    <li>Начертание &ndash; полужирный</li>
    <li>Все буквы прописные</li>
    <li>Междустрочный интервал &ndash; 1,5</li>
    <li>Должны начинаться с новой страницы</li>
    <li>В конце заголовков точка не ставится</li>
</ul>

<p>Заголовки разделов</p>
<ul>
    <li>Основан на стиле &ndash; Заголовок 1</li>
    <li>Шрифт &ndash; Times New Roman</li>
    <li>Выравнивание текста &ndash; по левому краю</li>
    <li>Отступ первой строки &ndash; отсутствует</li>
    <li>Отступ перед абзацем &ndash; 24</li>
    <li>Отступ после абзаца &ndash; 0</li>
    <li>Цвет &ndash; авто или черный</li>
    <li>Размер шрифта &ndash; 14 пт.</li>
    <li>Начертание &ndash; полужирный</li>
    <li>Все буквы прописные</li>
    <li>Междустрочный интервал &ndash; 1,5</li>
    <li>Должны начинаться с новой страницы</li>
    <li>Разделы должны иметь порядковую нумерацию арабскими цифрами, после цифры точка не ставится.</li>
</ul>


<p>Заголовки подразделов</p>
<ul>
    <li>Основан на стиле &ndash; Заголовок 2</li>
    <li>Шрифт &ndash; Times New Roman</li>
    <li>Выравнивание текста &ndash; по ширине</li>
    <li>Отступ первой строки &ndash;1,25</li>
    <li>Отступ перед абзацем &ndash; 12</li>
    <li>Отступ после абзаца &ndash; 0</li>
    <li>Цвет &ndash; авто или черный</li>
    <li>Размер шрифта &ndash; 14 пт.</li>
    <li>Начертание &ndash; полужирный курсив</li>
    <li>Все буквы прописные</li>
    <li>Междустрочный интервал &ndash; 1,5</li>
    <li>Разделы должны иметь порядковую нумерацию арабскими цифрами, после цифры точка не ставится</li>
    <li>Номер подраздела состоит из номера раздела и</li>
    <li>порядкового номера подраздела, разделенные точкой.</li>
</ul>

<p>Пункты в подразделах</p>
<ul>
    <li>Номер пункта включает номер раздела, порядковый номер подраздела, разделенных точкой</li>
    <li>В конце пункта точка не ставится</li>
</ul>

<p>Рисунки</p>
<ul>
    <li>Выравнивание по центру</li>
    <li>Отступ первой строки &ndash; отсутствует.</li>
    <li>Каждый рисунок должен быть пронумерован арабскими цифрами, иметь название и ссылку на него в тексте</li>
    <li>Допускается нумерация рисунков внутри раздела или сквозная</li>
    <li>При нумерации рисунков внутри раздела, номер рисунка состоит из номера главы и порядкового номера рисунка, разделенных точкой</li>
    <li>Иллюстрации, размещенные в приложениях, нумеруются арабскими цифрами в пределах каждого приложения. К номеру добавляется обозначение приложения</li>
</ul>

<p>Подписи к рисункам</p>
<ul>
    <li>Шрифт &ndash; Times New Roman</li>
    <li>Выравнивание текста &ndash; по центру</li>
    <li>Размер шрифта &ndash; 12 пт</li>
</ul>

<p>Таблицы</p>
<ul>
    <li>Выравнивание по центру</li>
    <li>Отступ первой строки &ndash; отсутствует</li>
    <li>Каждая таблица должна быть пронумерована арабскими цифрами, иметь название и ссылку на нее в тексте</li>
    <li>Допускается нумерация рисунков внутри раздела или сквозная</li>
    <li>При нумерации таблицы внутри раздела, номер таблицы состоит из номера главы и порядкового номера таблицы, разделенных точкой</li>
</ul>

<p>Подписи к таблицам</p>
<ul>
    <li>Название таблицы следует размещать над таблицей слева</li>
    <li>Без абзацного отступа</li>
    <li>В одну строку</li>
    <li>С ее номером через тире</li>
</ul>

<p>Список использованных источников</p>
<ul>
    <li>Оформлен в соответствии с требованиями ГОСТ Р 7.0.5&ndash;2008.</li>
    <li>В тексте отчета обязательно указываются ссылки на библиографические источники.</li>
    <li>Порядковый номер ссылки записывается в квадратных скобках</li>
    <li>Если ссылку приводят на конкретный фрагмент текста документа, то после порядкового номера указывают номер страницы</li>
</ul>

<p>Приложения</p>
<ul>
    <li>Должны начинаться с новой страницы со слова &laquo;Приложение&raquo; и его обозначения</li>
    <li>Приложения обозначаются заглавными буквами русского алфавита, кроме букв Ё, З, Й, О, Ч, Ъ, Ы, Ь</li>
    <li>Название приложения пишется строкой ниже посередине с прописной буквы</li>
    <li>В тексте отчета о курсовой работе на все приложения должны быть даны ссылки</li>
</ul>

<p>Формулы</p>
<ul>
    <li>Нумеруются арабскими цифрами в круглых скобках в крайнем правом положении на строке</li>
    <li>Допускается сквозная нумерация или в пределах каждого раздела.</li>
    <li>Перед формулой и после оставляется по одной пустой строке.</li>
    <li>Ссылки в тексте на формулы даются в круглых скобках.</li>
    <li>Если формула не помещается в одну строку, то она переносится после знака равенства или после других арифметических знаков.</li>
</ul>

